global
    daemon
    maxconn {{ haproxy_global_maxconn }}
{% if haproxy_global_stats_socket %}
    stats socket {{ haproxy_global_stats_socket }} mode 660 level admin group haproxy
{% endif %}
    # Leave pidfile even if it is present in defaults !
    pidfile /var/run/haproxy.pid

defaults
    mode http
    option forwardfor{% if haproxy_forward_for_except is defined %} except {{ haproxy_forward_for_except }}
{% endif %}
    # Set the maximum time to wait for a connection attempt to a server to succeed.
    timeout connect {{ haproxy_timeout_connect }}
    # Set the maximum inactivity time on the client side
    timeout client {{ haproxy_timeout_client }}
    # Set the maximum inactivity time on the server side
    timeout server {{ haproxy_timeout_server }}
    # how long to wait for client to send complete headers
    timeout http-request {{ haproxy_timeout_http_request }}

{% if haproxy_stats_enabled %}
listen admin
    bind {{ haproxy_stats_bind_interface }}:{{ haproxy_stats_port }}
    stats enable
    stats realm Haproxy\ Statistics
{% if haproxy_stats_refresh %}
    stats refresh {{ haproxy_stats_refresh }}
{% endif %}
    stats admin if TRUE
    stats show-node
    stats show-desc {{ haproxy_stats_description }}
    stats show-legends
    stats uri /
    stats auth {{ haproxy_stats_username }}:{{ haproxy_stats_password }}
{% endif %}

